@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:400,700&display=swap');

/*COLORS*/
$dark-color: #04090d;
$light-color: #f8f8f8;
$text-color: #6b6f70;
$primary-color: #1ac69e;

/*TYPOGRAPHY*/
$display:'Roboto', sans-serif;
$text: 'Roboto', sans-serif;

body {
  margin: 0;
  font: 400 100%/1.375 $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $light-color;
  color: $text-color;
}

* { 
  box-sizing: border-box;
}

a {
  color: rgb(29, 161, 242);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@keyframes in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}