body {
  margin: 0;
  font: 400 100%/1.375;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { 
  box-sizing: border-box;
}

a {
  color: rgb(29, 161, 242);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@keyframes in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

  @media (max-width: 997px ) {
    .App{
      overflow-x: hidden;
    }
  }
